@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-bottom: 250px;
  overflow-x: hidden;
  word-wrap: break-word;
}

button {
  text-rendering: optimizeSpeed;
  background-color: rgba(0,0,0,0);
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  margin: 0px;
  border-radius: 0;
}
#__next {
  width: 100%;
  padding: 0px;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --black: #0c1014;
  --white: #64b4ff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

body {
  background: var(--black);
  font-family: "Inter", sans-serif;
  color: var(--white);
  display: flex;
  margin: 0;
  text-align: center;
  width: 100vw;
}

._next {
  width: 100vw;
}

h2 {
  font-size: 2.5rem;
}
p {
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
